<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0"
	xmlns="http://java.sun.com/xml/ns/persistence" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence 
	http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
	<persistence-unit name="see">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<class>yang.see.entity.User</class>
		<!-- MYSql 的连接 -->
		<properties>
			<property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver" />
			<property name="hibernate.connection.url"
				value="jdbc:mysql://127.0.0.1:3306/see?useUnicode=true&amp;useSSL=false" />
			<property name="hibernate.connection.username" value="root" />
			<property name="hibernate.connection.password" value="root" />
			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />

			<!-- c3p0配置 -->
			<property name="hibernate.connection.provider_class"
				value="org.hibernate.c3p0.internal.C3P0ConnectionProvider" />
			<property name="hibernate.c3p0.min_size" value="5" />
			<property name="hibernate.c3p0.max_size" value="20" />
			<property name="hibernate.c3p0.timeout" value="5000" />
			<property name="hibernate.c3p0.max_statements" value="10" />
			<property name="hibernate.c3p0.idle_test_period" value="3000" />
			<property name="hibernate.c3p0.acquire_increment" value="2" />
			<property name="hibernate.c3p0.validate" value="true" />
		</properties>
	</persistence-unit>
</persistence>